# SELENIUM

Q.1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.8.0-py3-none-any.whl (6.3 MB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tanweer\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\tanweer\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: sortedcontainers in c:\users\tanweer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\tanweer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\tanweer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\tanweer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in c:\users\tanweer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\tanweer\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tanweer\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.8.0 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [6]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [7]:
#opening naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [11]:
#entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys("Data Analyst")

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [12]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [16]:
#scrapping the data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scrapping job title from webpage
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#scrapping job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
#scrapping comapny name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
#scapping experience details
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [20]:
#Making dataframe

df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company Name":company_name,"Experience":experience_required})
df

,Title,Location,Company Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
3,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs
5,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
6,Data Analyst,Bangalore/Bengaluru,Excellence And Eminence Llp,2-5 Yrs
7,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
8,Data Analyst | Google App Script,"Bangalore/Bengaluru, Mumbai",Webengage,3-6 Yrs
9,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack Consulting,2-6 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [22]:
#entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys("Data Scientist")

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [23]:
#scrapping the data
job_title=[]
job_location=[]
company_name=[]


#scrapping job title from webpage
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#scrapping job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
#scrapping comapny name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [31]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [26]:
#Making dataframe

df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company Name":company_name})
df

,Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
6,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
8,Sr. Data Scientist,Bangalore/Bengaluru,Visa
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes

Q3.You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [27]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [28]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys("Data Scientist")
#clicking search
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [29]:
#applying filter for location
locationfilter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
locationfilter.click()

In [30]:
#applying filter for salary
salaryfilter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salaryfilter.click()

In [32]:
#scrapping the data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scrapping job title from webpage
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#scrapping job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
#scrapping comapny name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
#scapping experience details
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [33]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [34]:
#Making dataframe

df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company Name":company_name,"Experience":experience_required})
df

,Title,Location,Company Name,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",Torcai Digital Media,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [2]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [4]:
#entering sunglassses in search field
search=driver.find_element(By.CLASS_NAME,"_3704LK" )
search.send_keys("sunglasses")
#clicking search
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [12]:
brand=[]
p_desc=[]
price=[]
discount=[]

#scrapping from webpage
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:99]:
        brand.append(i.text)
    
    p_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_tags[0:99]:
        p_desc.append(i.text)
   
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:99]:
        price.append(i.text)
   
    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tags[0:99]:
        discount.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    nextbutton.click()
    time.sleep(4)

In [13]:
print(len(brand),len(p_desc),len(price),len(discount))

120 119 120 120

In [ ]:
brand

In [17]:
b=brand[0:100]

In [18]:
b

['VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'Elligator',
 'Fastrack',
 'Elligator',
 'Elligator',
 'VINCENT CHASE',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'R Resist',
 'Elligator',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'SRPM',
 'Fastrack',
 'Elligator',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'VINCENT CHASE',
 'NuVew',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'Fair-x',
 'kingsunglasses',
 'Anemone',
 'kingsunglasses',
 'VINCENT CHASE',
 'NuVew',
 'GANSTA',
 'Fastrack',
 'Eyewearlabs',
 'Fastrack',
 'Lee Topper',
 'NuVew',
 'VINCENT CHASE',
 'NuVew',
 'SKYZA INDIA',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PHENOMENAL',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SRPM',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'NuVew',
 'Rich Club',
 'Fastrack',
 'R Resist',
 'VINCENT CHASE',
 'PIRASO',
 'NuVew',
 'VINCENT CHASE',
 'Elligator',
 'Sewell',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'Fair-x',
 'PIRASO',
 'Elligator',
 'EYELLUSION',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'Elligator',
 'Fastrack',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'PIRASO',
 'Elligator',
 'New Specs',
 'Eyewearlabs']

In [19]:
len(b)

100

In [20]:
p=p_desc[0:100]
p

['Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection, Photochromatic Len...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (62)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular, Spectacle Sunglas...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Sports Sunglasses (65)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square, Rectangular, Over-sized Sun...',
 'UV Protection Butterfly Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection, Photochromatic Len...',
 'Polarized, UV Protection Retro Square Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Retro Square, Aviator Sunglasses (54)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Over-sized Sunglasses (65)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Rectangular Sunglasses (51)',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Over-sized Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)']

In [21]:
len(p)

100

In [22]:
pr=price[0:100]
len(pr)

100

In [23]:
dis=discount[0:100]
len(dis)

100

In [24]:
#making dataframe
df=pd.DataFrame({"BRAND":b,"PRODUCT DESCRIPTION":p,"PRICE":pr,"DISCOUNT":dis})
df

,BRAND,PRODUCT DESCRIPTION,PRICE,DISCOUNT
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹829,58% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹999,50% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
3,Elligator,UV Protection Round Sunglasses (53),₹149,85% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599,25% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹799,60% off
96,PIRASO,UV Protection Aviator Sunglasses (54),₹208,86% off
97,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹129,87% off
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,90% off
99,Eyewearlabs,"Others Wayfarer, Retro Square Sunglasses (50)","₹1,519",39% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/
itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [26]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening naukri page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [27]:
rating=[]
reveiw=[]
full_rev=[]


#scrapping from webpage
start=0
end=10
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags[0:99]:
        rating.append(i.text)
    
    reveiw_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reveiw_tags[0:99]:
        reveiw.append(i.text)
   
    fullrev_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullrev_tags[0:99]:
        full_rev.append(i.text)
   
    nextbutton=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    nextbutton.click()
    time.sleep(4)

In [28]:
print(len(rating),len(reveiw),len(full_rev))

100 100 100

In [29]:
#making dataframe
df=pd.DataFrame({"RATING":rating,"REVIEW SUMMARY":reveiw,"FULL REVEIW":full_rev})
df

,RATING,REVIEW SUMMARY,FULL REVEIW
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [ ]:
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [30]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [33]:
#entering sneaker in search field
search=driver.find_element(By.CLASS_NAME,"_3704LK" )
search.send_keys("sneakers")
#clicking search
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [34]:
brand=[]
p_desc=[]
price=[]


#scrapping from webpage
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:99]:
        brand.append(i.text)
    
    p_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_tags[0:99]:
        p_desc.append(i.text)
   
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:99]:
        price.append(i.text)
   
    nextbutton=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    nextbutton.click()
    time.sleep(4)

In [35]:
print(len(brand),len(p_desc),len(price))

120 120 120

In [42]:
b=brand[0:100]
pde=p_desc[0:100]
p=price[0:100]
print(len(b),len(pde),len(p))

100 100 100

In [40]:
import pandas as pd

In [43]:
#making dataframe
df=pd.DataFrame({"BRAND":b,"PRODUCT DESCRIPTION":pde,"PRICE":p})
df

       BRAND                                PRODUCT DESCRIPTION PRICE
0      BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹499
1     BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹299
2      BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹499
3      BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹499
4     Shozie  Stylish Sneakers Shoes for Women And Girls Sne...  ₹374
..       ...                                                ...   ...
95    BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹299
96    BRUTON             2 Combo Sneaker Shoes Sneakers For Men  ₹499
97     BIRDE  Premium Sports Shoes For Men Pack Of 2 Sneaker...  ₹499
98     BIRDE  Premium Casual Shoes for Women Sneakers For Women  ₹299
99  RapidBox                                   Sneakers For Men  ₹606

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [5]:
 #lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening naukri page on automated chrome browser
driver.get("https://www.amazon.in/")

In [6]:
#entering laptop in search field
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input" )
search.send_keys("laptop")
#clicking search
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [7]:
#applying filter for CPU
cpufilter=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[13]/span/a/div/label/i")
cpufilter.click()

In [10]:
#scrapping the data
title=[]
rating=[]
price=[]


#scrapping  title from webpage
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    titlea=i.text
    title.append(titlea)
#scrapping rating
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    ratinga=i.text
    rating.append(ratinga)
#scrapping price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    pricea=i.text
    price.append(pricea)

In [11]:
print(len(title),len(rating),len(price))

10 10 10

In [12]:
#making dataframe
df=pd.DataFrame({"TITLE":title,"RATING":rating,"PRICE":price})
df

                                               TITLE RATING     PRICE
0  Lenovo Legion 5 Intel Core i7 11th Gen 15.6" (...    2.9  1,17,990
1  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    4.0    82,990
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    4.1    56,990
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    4.1    45,592
4  (Renewed) Dell Latitude E7470 Intel Core i7 6t...    4.0    65,250
5  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    3.4    30,074
6  HP Victus Gaming Latest 12th Gen Intel Core i7...    4.3    24,889
7  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...    3.6    85,990
8  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    4.2    84,918
9  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    4.0    82,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [4]:
 #lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [5]:
#clicking on top quotes
tq=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
tq.click()

In [6]:
quote=[]
author=[]
tpq=[]


#scrapping from webpage
start=0
end=10
for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
    
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
   
    tpq_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in tpq_tags:
        tpq.append(i.text)
   
    nextbutton=driver.find_element(By.XPATH,'//div[@class="pager"]/li[12]/a')
    nextbutton.click()
    time.sleep(4)

In [7]:
print(len(quote),len(author),len(tpq))

1000 1000 1000

In [8]:
df=pd.DataFrame({"Quotes":quote,"AUTHOR":author,"TYPE OF QUOTES":tpq})
df

,Quotes,AUTHOR,TYPE OF QUOTES
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [9]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [10]:
#clicking on gk option
gk=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
gk.click()

In [11]:
#clicking on list of pm of india
pm=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm.click()

In [29]:
#scrapping the data
name=[]
bd=[]
tof=[]
remarks=[]


#scrapping  title from webpage
name_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_tags:
    namea=i.text
    name.append(namea)
#scrapping born-dead
bd_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in bd_tags:
    bda=i.text
    bd.append(bda)
#scrapping term of office
tof_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p[1]')
for i in tof_tags:
    tofa=i.text
    tof.append(tofa)
#scrapping remarks
remarks_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks_tags:
    remarksa=i.text
    remarks.append(remarksa)

In [30]:
df=pd.DataFrame({"Name":name,"Born-Dead":bd,"Term of office":tof,"Remarks":remarks})
df

,Name,Born-Dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [ ]:
Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [2]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://www.motor1.com/")

In [3]:
#clicking on drop down menu
dd=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
dd.click()

In [4]:
#clicking on features
features=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
features.click()

In [5]:
#clicking on list
l=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
l.click()

In [6]:
#now clicking on 50 most expensive car
ec=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
ec.click()

In [22]:
cn=[]
price=[]
#scrapping car name from webpage
cn_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cn_tags:
    cname=i.text
    cn.append(cname)
#scrapping price
price_tags=driver.find_elements(By.XPATH,'//strong')
for i in price_tags:
    p=i.text
    price.append(p)

In [24]:
dollar_amounts = []

for price in prices:
    parts = price.split(": ")
    dollar_amount = parts[1]
    dollar_amounts.append(dollar_amount)

print(dollar_amounts)

['$1.3 Million', '$1.4 Million', '$1.4 Million', '$1.7 Million', '$1.7 Million', '$1.7 Million', '$1.7 Million', '$1.7 Million', '$1.7 Million', '$1.8 Million', '$1.9 Million', '$1.9 Million', '$2.0 Million', '$2.0 Million', '$2.0 Million*', '$2.1 Million', '$2.3 Million', '$2.3 Million', '$2.3 Million', '$2.4 Million', '$2.5 Million', '$2.5 Million', '$2.6 Million', '$2.6 Million', '$2.6 Million', '$2.7 Million', '$3.0 Million', '$3.0 Million', '$3.2 Million', '$3.4 Million', '$3.5 Million', '$3.6 Million', '$3.6 million', '$3.7 Million', '$3.9 Million', '$4.5 Million', '$4.7 Million', '$5.0 Million', '$5.4 Million', '$5.8 Million', '$6.4 Million', '$7.4 Million', '$8.0 Million', '$9.0 Million', '$10.8 Million', '$12.8 Million', '$13.4 Million', '$28.0 Million (est.)']

In [25]:
#making datframe
df=pd.DataFrame({"CAR NAME":cn,"PRICE":dollar_amount})
df

                            CAR NAME                 PRICE
0                      De Tomaso P72  $28.0 Million (est.)
1                  Ferrari LaFerrari  $28.0 Million (est.)
2                      Pagani Huayra  $28.0 Million (est.)
3                       McLaren Elva  $28.0 Million (est.)
4                        Czinger 21C  $28.0 Million (est.)
5                      Ferrari Monza  $28.0 Million (est.)
6                 Gordon Murray T.33  $28.0 Million (est.)
7                  Koenigsegg Gemera  $28.0 Million (est.)
8                        Zenvo TSR-S  $28.0 Million (est.)
9                 Hennessey Venom F5  $28.0 Million (est.)
10                   Bentley Bacalar  $28.0 Million (est.)
11     Hispano Suiza Carmen Boulogne  $28.0 Million (est.)
12            Bentley Mulliner Batur  $28.0 Million (est.)
13                      Deus Vayanne  $28.0 Million (est.)
14                       SSC Tuatara  $28.0 Million (est.)
15                       Lotus Evija  $28.0 Million (est.)
16               Aston Martin Vulcan  $28.0 Million (est.)
17                        Delage D12  $28.0 Million (est.)
18                 McLaren Speedtail  $28.0 Million (est.)
19                      Rimac Nevera  $28.0 Million (est.)
20                     Pagani Utopia  $28.0 Million (est.)
21              Pininfarina Battista  $28.0 Million (est.)
22                 Ferrari FXX K Evo  $28.0 Million (est.)
23                Gordon Murray T.50  $28.0 Million (est.)
24              Lamborghini Countach  $28.0 Million (est.)
25          Mercedes-AMG Project One  $28.0 Million (est.)
26               Aston Martin Victor  $28.0 Million (est.)
27       Hennessey Venom F5 Roadster  $28.0 Million (est.)
28                  Koenigsegg Jesko  $28.0 Million (est.)
29             Aston Martin Valkyrie  $28.0 Million (est.)
30         W Motors Lykan Hypersport  $28.0 Million (est.)
31                     McLaren Solus  $28.0 Million (est.)
32         Pagani Huayra Roadster BC  $28.0 Million (est.)
33          Bugatti Chiron Pur Sport  $28.0 Million (est.)
34                  Lamborghini Sian  $28.0 Million (est.)
35                  Koenigsegg CC850  $28.0 Million (est.)
36   Bugatti Chiron Super Sport 300+  $28.0 Million (est.)
37                Lamborghini Veneno  $28.0 Million (est.)
38                    Bugatti Bolide  $28.0 Million (est.)
39                   Bugatti Mistral  $28.0 Million (est.)
40               Pagani Huayra Imola  $28.0 Million (est.)
41                      Bugatti Divo  $28.0 Million (est.)
42               SP Automotive Chaos  $28.0 Million (est.)
43                  Pagani Codalunga  $28.0 Million (est.)
44          Mercedes-Maybach Exelero  $28.0 Million (est.)
45                Bugatti Centodieci  $28.0 Million (est.)
46           Bugatti Chiron Profilée  $28.0 Million (est.)
47              Rolls-Royce Sweptail  $28.0 Million (est.)
48          Bugatti La Voiture Noire  $28.0 Million (est.)
49            Rolls-Royce Boat Tail*  $28.0 Million (est.)
50  Most Expensive Cars In The World  $28.0 Million (est.)