1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
#scrapping the data
rank=[]
name=[]
artist=[]
update=[]
veiws=[]


#scrapping  rank from webpage
rank_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank_tags:
    ranka=i.text
    rank.append(ranka)
#scrapping name
name_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name_tags:
    namea=i.text
    name.append(namea)
#scrapping artist
artist_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist_tags:
    artista=i.text
    artist.append(artista)
#scrapping update
update_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in update_tags:
    updatea=i.text
    update.append(updatea)
#scrapping veiws
veiws_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in veiws_tags:
    veiwsa=i.text
    veiws.append(veiwsa)

In [8]:
rank1=rank[0:30]
name1=name[0:30]
artist1=artist[0:30]
update1=update[0:30]
veiws1=veiws[0:30]

In [9]:
df=pd.DataFrame({"RANK":rank1,"NAME":name1,"ARTIST":artist1,"UPLOAD DATE":update1,"VEIWS":veiws1})
df

,RANK,NAME,ARTIST,UPLOAD DATE,VEIWS
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://www.bcci.tv/")

In [11]:
#clicking on international
inter=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
inter.click()

In [15]:
#scrapping the data
title=[]
series=[]
place=[]
date=[]
time=[]


#scrapping  title from webpage
title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title_tags:
    titlea=i.text
    title.append(titlea)
#scrapping series
series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    seriesa=i.text
    series.append(seriesa)
#scrapping place
place_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place_tags:
    placea=i.text
    place.append(placea)
#scrapping date
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    datea=i.text
    date.append(datea)
#scrapping time
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    timea=i.text
    time.append(timea)

In [16]:
df=pd.DataFrame({" Match title ":title,"SERIES":series,"PLACE":place,"DATE":date,"TIME":time})
df

,Match title,SERIES,PLACE,DATE,TIME
0,1st ODI -,AUSTRALIA TOUR OF INDIA 2023,Mumbai,17 MAR 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023,Visakhapatnam,19 MAR 2023,1:30 PM IST
2,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023,Chennai,22 MAR 2023,1:30 PM IST

In [17]:
print(len(title),len(series),len(place),len(date),len(time))

3 3 3 3 3

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [18]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("http://statisticstimes.com/")

In [21]:
#clicking on economy
eco=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
eco.click()

In [22]:
#clicking on india
ind=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
ind.click()

In [23]:
#clicking on gdp state wise india
gdp=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [24]:
#scrapping the data
rank=[]
state=[]
gdp1=[]
gdp2=[]
share=[]
gdp3=[]


#scrapping rank from webpage
rank_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in rank_tags:
    ranka=i.text
    rank.append(ranka)
#scrapping state
state_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in state_tags:
    statea=i.text
    state.append(statea)
#scrapping place
gdp1_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in gdp1_tags:
    gdp1a=i.text
    gdp1.append(gdp1a)
#scrapping date
gdp2_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in gdp2_tags:
    gdp2a=i.text
    gdp2.append(gdp2a)
#scrapping time
share_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in share_tags:
    sharea=i.text
    share.append(sharea)
#scrapping date
gdp3_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in gdp3_tags:
    gdp3a=i.text
    gdp3.append(gdp3a)

In [25]:
df=pd.DataFrame({"Rank":rank,"State":state,"GSDP(18-19)- at current prices":gdp1,"GSDP(19-20)- at current prices":gdp2,"Share(18-19)":share,"GDP($ billion)":gdp3})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [26]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://github.com/")

In [29]:
#clicking on opensource
os=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
os.click()

In [30]:
#clicking on trending
tr=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
tr.click()

In [31]:
#scrapping the data
title=[]
desp=[]
contc=[]
lang=[]


#scrapping totle from webpage
title_tags=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in title_tags:
    titlea=i.text
    title.append(titlea)
#scrapping desc
desp_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desp_tags:
    despa=i.text
    desp.append(despa)
#scrapping cont
contc_tags=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"][1]')
for i in contc_tags:
    contca=i.text
    contc.append(contca)
#scrapping language
lang_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang_tags:
    langa=i.text
    lang.append(langa)

In [41]:
df=pd.DataFrame({" Repository title":title1,"Repository description":desp,"Contributors count":contc1,"Language used":lang})
df

,Repository title,Repository description,Contributors count,Language used
0,tatsu-lab / stanford_alpaca,Code and documentation to train Stanford's Alp...,"6,045",Python
1,ggerganov / llama.cpp,Port of Facebook's LLaMA model in C/C++,"7,260",C
2,togethercomputer / OpenChatKit,Use ChatGPT to summarize the arXiv papers.,"4,435",Python
3,kaixindelele / ChatPaper,SQL Translator is a tool for converting natura...,"1,722",Python
4,whoiskatrin / sql-translator,An open-source ChatGPT app with a voice,"1,058",TypeScript
5,cogentapps / chat-with-gpt,"A high-performance, zero-overhead, extensible ...",468,TypeScript
6,exaloop / codon,A powerful and modular stable diffusion GUI wi...,"7,376",C++
7,comfyanonymous / ComfyUI,Everything required to run your own Base node,"1,140",Python
8,base-org / node,Web apps in pure Python,"15,730",Shell
9,pynecone-io / pynecone,Create your own ChatGPT App in seconds.,"6,799",Python
10,futantan / OpenGpt,Examples and guides for using the OpenAI API,"1,891",TypeScript
11,openai / openai-cookbook,A simple and open-source proxy API that allows...,"18,234",Jupyter Notebook
12,ayaka14732 / ChatGPTAPIFree,[CVPR'23] Universal Instance Perception as Obj...,704,JavaScript
13,MasterBin-IIAU / UNINEXT,The simplest way to run LLaMA on your local ma...,193,Python
14,cocktailpeanut / dalai,"Code and models for the paper ""One Transformer...","1,701",JavaScript
15,thu-ml / unidiffuser,这儿收集了一些免费好用的ChatGPT镜像站 当前：55个站点,513,Python
16,xx025 / carrot,Display and control your Android device,968,C
17,Genymobile / scrcpy,Upscayl - Free and Open Source AI Image Upscal...,"78,819",TypeScript
18,upscayl / upscayl,拼多多事件的脱壳后的部分代码,"10,157",C
19,poorjobless / pinduoduo_backdoor_code,A CLI tool to get help with CLI tools,124,Rust
20,orhun / halp,Reverse engineered API of Microsoft's Bing Chat,343,Python
21,acheong08 / EdgeGPT,High-performance GPGPU inference of OpenAI's W...,"2,842",C++
22,Const-me / Whisper,Inference code for LLaMA models,675,Python

In [40]:
print(len(title1),len(desp),len(contc1),len(lang))

23 23 23 23

In [39]:
title1=title[0:23]
contc1=contc[0:23]

In [38]:
len(title1)

23

5.Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [48]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https:/www.billboard.com/")

In [53]:
#clicking on charts
ch=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
ch.click()

In [54]:
ch=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button/span")
ch.click()

In [55]:
#clicking hot 100
h100=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a")
h100.click()

In [57]:
sname=[]
aname=[]
lwr=[]
pr=[]
wob=[]

#scrapping song name from webpage
sname_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in sname_tags:
    try:
        snamea=i.text
        sname.append(snamea)
    except NoSuchElementException:
        sname.append("-")

#scrapping artistname
aname_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in aname_tags:
    try:
        anamea=i.text
        aname.append(anamea)
    except NoSuchElementException:
        aname.append("-")

#scrapping last week rank
lwr_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]')
for i in lwr_tags:
    try:
        lwra=i.text
        lwr.append(lwra)
    except NoSuchElementException:
        contc.append("-")

#scrapping peak rank
pr_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]')
for i in pr_tags:
    try:
        pra=i.text
        pr.append(pra)
    except NoSuchElementException:
        pr.append("-")
#scrapping weeks on board
wob_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]')
for i in wob_tags:
    try:
        woba=i.text
        wob.append(woba)
    except NoSuchElementException:
        wob.append("-")

In [59]:
print(len(wob),len(pr),len(lwr),len(sname),len(aname))

100 100 100 100 100

In [60]:
df=pd.DataFrame({"SONG NAME":sname,"ARTIST NAME":aname,"LAST WEEK RANK":lwr,"PEAK RANK":pr,"Weeks on board":wob})
df

,SONG NAME,ARTIST NAME,LAST WEEK RANK,PEAK RANK,Weeks on board
0,Last Night,Morgan Wallen,5,1,6
1,Flowers,Miley Cyrus,2,1,8
2,Kill Bill,SZA,3,2,13
3,Die For You,The Weeknd & Ariana Grande,1,1,32
4,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,4,3,5
...,...,...,...,...,...
95,Nonsense,Sabrina Carpenter,75,56,8
96,AMG,"Gabito Ballesteros, Peso Pluma & Natanael Cano",80,66,7
97,Lift Me Up,Rihanna,65,2,19
98,You Didn't,Brett Young,78,63,9
99,10:35,Tiesto Featuring Tate McRae,81,69,7

6.Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [62]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [63]:
bname=[]
aname=[]
vs=[]
pr=[]
genre=[]

#scrapping song name from webpage
bname_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in bname_tags:
    try:
        bnamea=i.text
        bname.append(bnamea)
    except NoSuchElementException:
        bname.append("-")

#scrapping artistname
aname_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in aname_tags:
    try:
        anamea=i.text
        aname.append(anamea)
    except NoSuchElementException:
        aname.append("-")

#scrapping last week rank
vs_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vs_tags:
    try:
        vsa=i.text
        vs.append(vsa)
    except NoSuchElementException:
        vs.append("-")

#scrapping peak rank
pr_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pr_tags:
    try:
        pra=i.text
        pr.append(pra)
    except NoSuchElementException:
        pr.append("-")
#scrapping weeks on board
genre_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_tags:
    try:
        genrea=i.text
        genre.append(genrea)
    except NoSuchElementException:
        genre.append("-")

In [64]:
df=pd.DataFrame({"BOOK NAME":bname,"AUTHOR NAME":aname,"VOLUME SOLD":vs,"Publisher":pr,"GENRE":genre})
df

,BOOK NAME,AUTHOR NAME,VOLUME SOLD,Publisher,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [67]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://www.imdb.com/list/ls095964455/")

In [68]:
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

#scrapping name from webpage
name_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in name_tags:
    try:
        namea=i.text
        name.append(namea)
    except NoSuchElementException:
        name.append("-")

#scrapping year
year_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in year_tags:
    try:
        yeara=i.text
        year.append(yeara)
    except NoSuchElementException:
        year.append("-")

#scrapping genre
genre_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
for i in genre_tags:
    try:
        genrea=i.text
        genre.append(genrea)
    except NoSuchElementException:
        genre.append("-")

#scrapping runtime
run_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
for i in run_tags:
    try:
        runa=i.text
        runtime.append(runa)
    except NoSuchElementException:
        runtime.append("-")
#scrapping ratings
rat_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div[1]')
for i in rat_tags:
    try:
        rata=i.text
        ratings.append(rata)
    except NoSuchElementException:
        ratings.append("-")

#scrapping votes
vt_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]')
for i in vt_tags:
    try:
        vta=i.text
        votes.append(vta)
    except NoSuchElementException:
        votes.append("-")

In [69]:
df=pd.DataFrame({"NAME":name,"YEAR SPAN":year,"GENRE":genre,"RUN TIME":runtime,"RATINGS":ratings,"VOTES":votes})
df

,NAME,YEAR SPAN,GENRE,RUN TIME,RATINGS,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"Votes: 2,137,670"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"Votes: 1,222,654"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"Votes: 1,014,796"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"Votes: 298,929"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"Votes: 257,799"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"Votes: 51,002"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"Votes: 63,015"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"Votes: 204,858"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"Votes: 42,419"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"Votes: 253,481"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [77]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://archive.ics.uci.edu/")

In [78]:
#clicking on datsets
cl=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
cl.click()

In [79]:
name=[]
typ=[]
task=[]
aty=[]
noi=[]
noa=[]
year=[]

#scrapping name from webpage
name_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[1]')
for i in name_tags:
    try:
        namea=i.text
        name.append(namea)
    except NoSuchElementException:
        name.append("-")

#scrapping data type
typ_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]')
for i in typ_tags:
    try:
        typa=i.text
        typ.append(typa)
    except NoSuchElementException:
        typ.append("-")

#scrapping task
task_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]')
for i in task_tags:
    try:
        taska=i.text
        task.append(taska)
    except NoSuchElementException:
        task.append("-")

#scrapping attribute type
aty_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]')
for i in aty_tags:
    try:
        atya=i.text
        aty.append(atya)
    except NoSuchElementException:
        aty.append("-")
#scrapping no. of instance
noi_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]')
for i in noi_tags:
    try:
        noia=i.text
        noi.append(noia)
    except NoSuchElementException:
        noi.append("-")

#scrapping no. of attribute
noa_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]')
for i in noa_tags:
    try:
        noaa=i.text
        noa.append(noaa)
    except NoSuchElementException:
        noa.append("-")
#scrapping year
year_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]')
for i in year_tags:
    try:
        yeara=i.text
        year.append(yeara)
    except NoSuchElementException:
        year.append("-")

In [86]:
name1=name[1:623]
typ1=typ[1:623]
aty1=aty[1:623]
noi1=noi[1:623]
noa1=noa[1:623]
year1=year[1:623]
task1=task[1:623]

In [87]:
df=pd.DataFrame({"DATASET NAME":name1,"DATA TYPE":typ1,"TASK":task1,"ATTRIBUTE TYPE":aty1,"NO. OF INSTANCE":noi1,"NO. OF ATTRIBUTE":noa1,"YEAR":year1})
df

,DATASET NAME,DATA TYPE,TASK,ATTRIBUTE TYPE,NO. OF INSTANCE,NO. OF ATTRIBUTE,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [12]:
#lets first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")
#opening  page on automated chrome browser
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [13]:
#entering designation and location
designation=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input' )
designation.send_keys("Data science")

In [14]:

search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search.click()

In [18]:
rec_url=[]

url=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in url:
    rec_url.append(i.get_attribute('href'))
    next_button=driver.find_elements(By.XPATH,'/html/body/div[3]/div/div[2]/div/div[3]/button')
    time.sleep(2)

In [20]:
rec_url

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=167895877180941400&xp=1',
 'https://www.naukri.com/data-science-network-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=167895877180941400&xp=2',
 'https://www.naukri.com/shore-infotech-india-pvt-dot-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/marsiantech?xid=167895877180941400&xp=3',
 'https://www.naukri.com/marsian-technologies-llp-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/anikagrawal-3647208?xid=167895877180941400&xp=4',
 'https://www.naukri.com/enerlytics-software-solutions-pvt-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/LXP-DATASCIENCE?xid=167895877180941400&xp=5',
 'https://www.naukri.com/libraryxproject-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=167895877180941400&xp=6',
 'https://www.naukri.com/apidel-technologies-division-of-transpower-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/menakav-3213816?xid=167895877180941400&xp=7',
 'https://www.naukri.com/ifmr-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/techvantage?xid=167895877180941400&xp=8',
 'https://www.naukri.com/techvantage-systems-pvt-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/asiflucknowi-4331110?xid=167895877180941400&xp=9',
 'https://www.naukri.com/weupskill--live-wire-india-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/instafinancials-humanresource?xid=167895877180941400&xp=10',
 'https://www.naukri.com/cbl-data-science-private-limited-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/kalpana-2078894?xid=167895877180941400&xp=11',
 'https://www.naukri.com/innominds-software-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/mubarak-2905498?xid=167895877180941400&xp=12',
 'https://www.naukri.com/moneytap-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/quantmagnum?xid=167895877180941400&xp=13',
 'https://www.naukri.com/quantmagnum-technologies-pvt-dot-ltd-dot-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/maheshbabuchanna-1803238?xid=167895877180941400&xp=14',
 'https://www.naukri.com/socialprachar-dot-com-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/priyankaakiri-5010064?xid=167895877180941400&xp=15',
 'https://www.naukri.com/infinitive-software-solutions-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/kapildevang-3169734?xid=167895877180941400&xp=16',
 'https://www.naukri.com/bisp-solutions-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/vaishnavikudalkar-5205628?xid=167895877180941400&xp=17',
 'https://www.naukri.com/codeachive-learning-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/sakshichhikara?xid=167895877180941400&xp=18',
 'https://www.naukri.com/biz-infotecno-private-limited-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/ruchidhote?xid=167895877180941400&xp=19',
 'https://www.naukri.com/bristlecone-india-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/manishayadav-4463916?xid=167895877180941400&xp=20',
 'https://www.naukri.com/easi-tax-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/riyarajesh-4375878?xid=167895877180941400&xp=21',
 'https://www.naukri.com/novelworx-digital-solutions-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/rashmibhattacharjee-3921774?xid=167895877180941400&xp=22',
 'https://www.naukri.com/axestrack-software-solutions-private-limited-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/faizankareem-3685102?xid=167895877180941400&xp=23',
 'https://www.naukri.com/firsttech-consaltants-pvt-dot-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/rithikadadwal-3517898?xid=167895877180941400&xp=24',
 'https://www.naukri.com/affine-analytics-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/ankitshah-21129?xid=167895877180941400&xp=25',
 'https://www.naukri.com/compumatrice-multimedia-pvt-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/shaunrao-3020604?xid=167895877180941400&xp=26',
 'https://www.naukri.com/exela-technologies-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/deeparchisharma?xid=167895877180941400&xp=27',
 'https://www.naukri.com/zigram-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/azaharshaikh-companyrecruiter?xid=167895877180941400&xp=28',
 'https://www.naukri.com/neal-analytics-services-pvt-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/manas-3159036?xid=167895877180941400&xp=29',
 'https://www.naukri.com/autumn-leaf-consulting-services-private-limited-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/kumar-3378892?xid=167895877180941400&xp=30',
 'https://www.naukri.com/trainin-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/sunilvedula-3392046?xid=167895877180941400&xp=31',
 'https://www.naukri.com/nanoprecise-sci-corp-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/rajatkumar-3295096?xid=167895877180941400&xp=32',
 'https://www.naukri.com/r-dot-s-consultancy-amp-services-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/dhruvdevdubey?xid=167895877180941400&xp=33',
 'https://www.naukri.com/netaps-foundation-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/avnishmishra-5310575?xid=167895877180941400&xp=34',
 'https://www.naukri.com/rms-risk-management-solutions-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=167895877180941400&xp=35',
 'https://www.naukri.com/dollarbird-information-services-pvt-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/nikithapalaparthi-5172698?xid=167895877180941400&xp=36',
 'https://www.naukri.com/nikitha-palaparthi-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/priyakhare-4894796?xid=167895877180941400&xp=37',
 'https://www.naukri.com/independent-consultant-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/amitsharma-4238940?xid=167895877180941400&xp=38',
 'https://www.naukri.com/asco-consulting-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/deepali002g?xid=167895877180941400&xp=39',
 'https://www.naukri.com/ny-inst-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/shashikantchaudhary-4164854?xid=167895877180941400&xp=40',
 'https://www.naukri.com/3d-india-staffing-research-amp-consulting-co-dot-india-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/brad-4068508?xid=167895877180941400&xp=41',
 'https://www.naukri.com/o-dot-c-dot-tanner-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/rutujapawar?xid=167895877180941400&xp=42',
 'https://www.naukri.com/demand-matrix-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/madhusudhansridhar-2705338?xid=167895877180941400&xp=43',
 'https://www.naukri.com/madhusudhan-sridhar-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/ankitsinha-3398798?xid=167895877180941400&xp=44',
 'https://www.naukri.com/suntech-global-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/gauravchouhan?xid=167895877180941400&xp=45',
 'https://www.naukri.com/strategic-consulting-lab-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/impel?xid=167895877180941400&xp=46',
 'https://www.naukri.com/impel-labs-pvt-dot-ltd-dot-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/ashwini-3434922?xid=167895877180941400&xp=47',
 'https://www.naukri.com/mrp-advisers-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/balajikolli-2870676?xid=167895877180941400&xp=48',
 'https://www.naukri.com/saras-solutions-india-pvt-ltd-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/rajaninagaraj-3387578?xid=167895877180941400&xp=49',
 'https://www.naukri.com/wildjasmine-recruiters?qsp=1',
 'https://www.naukri.com/recruiters/rohitkumar-3277680?xid=167895877180941400&xp=50',
 'https://www.naukri.com/lnt-private-limited-recruiters?qsp=1']

In [21]:
name_list=[]
designation_list=[]
company_list=[]
skills_list=[]
location_list=[]


for url in rec_url:
    driver.get(url)
    time.sleep(2)
    try:
        name=driver.find_element(By.XPATH,'//h1[@class="fl ellipsis wLimit hd"]')
        name_list.append(name.text)
    except NoSuchElementException:
        name_list.append('-')
    try:
        designation=driver.find_element(By.XPATH,'//div[@class="ellipsis"]')
        designation_list.append(designation.text)
    except NoSuchElementException:
        designation_list.append('-')
    try:
        company=driver.find_element(By.XPATH,'//div[@class="oh"][1]/a')
        company_list.append(company.text)
    except NoSuchElementException:
        company_list.append('-')
    try:
        skills=driver.find_element(By.XPATH,'//div[@class="fl lPortn"]/p')
        skills_list.append(skills.text)
    except NoSuchElementException:
        skills_list.append('-')
    try:
        location=driver.find_element(By.XPATH,'//div[@class="oh"][2]/a')
        location_list.append(location.text)
    except NoSuchElementException:
        location_list.append('-')

In [23]:
df=pd.DataFrame({"NAME":name_list,"DESIGNATION":designation_list,"COMPANY":company_list,"sKILLS THEY HIRE FOR":skills_list,"LOCATION":location_list})
df

,NAME,DESIGNATION,COMPANY,sKILLS THEY HIRE FOR,LOCATION
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,-,-,-,-,-
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
3,-,-,-,-,-
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
...,...,...,...,...,...
95,-,-,-,-,-
96,Rajani Nagaraj,HR Manager,WildJasmine,"java , hadoop , r , Machine Learning , spark ,...",Bengaluru / Bangalore
97,-,-,-,-,-
98,ROHIT Kumar,Architect,LNT Private Limited,"Mid Level, High Level",Mumbai
99,-,-,-,-,-